/* Global */
body {
    margin: 0;
    font-family: "Google Sans", sans-serif;
    font-size: 1em;
}

button {
    width: 120px;
    height: 36px;
    cursor: pointer;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

section {
    margin-bottom: 120px;
}

.custom-color {
    color: #af2b1e;
}

.custom-background-color {
    background-color: #af2b1e;
}

.container {
    max-width: 1400px;
    margin: auto;
}

/* Navbar */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.logo-group img {
    width: 32px;
    height: 32px;
}

.nav-group ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    gap: 48px;
}

.nav-group ul li {
    cursor: pointer;
}

.nav-group ul li:hover {
    color: #af2b1e;
}

.auth-group {
    display: flex;
    gap: 24px;
}

/* Header */
header {
    padding-top: 140px;
    background-image: url("elephants-roger-brown.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-group {
    color: white;
    text-align: center;
}

.hero-group h1 {
    font-size: 3em;
}

.hero-button {
    width: 240px;
    height: 72px;
    font-size: 24px;
    font-weight: bold;
}

/* Tracker Section */
.tracker-section {
    text-align: center;
}

.tracker-section h1 {
    font-size: 4.5em;
}

/* About Section */
.about-section h1 {
    text-align: center;
    font-size: 3em;
}

.about-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 32px 16px;
}

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 48px 32px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

.about-card img {
    width: 120px;
    height: 120px;
}

.about-card h1 {
    text-align: center;
}

/* Sponsors Section */
.sponsors-section {
    text-align: center;
}

.sponsors-section  h1{
    font-size: 48px;
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.sponsors-section img {
    width: 64px;
    height: 64px;
}

/* footer */
footer {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    padding: 64px 0;
}

footer h1 {
    font-size: 48px;
}

.socials img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 12px;
}
