body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* MUST HAVE COLOR */
.custom-color {
    color: #AF2B1E
}

.custom-background-color {
    background-color: #AF2B1E
}

/* Navbar */

.fa-anchor,
.fa-coffee {
    font-size: 200px
}