/* Global */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

button {
    width: 72px;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

button:hover{
    background-color: #1859c9db;
    transition: 200ms;
}

.custom-color {
    color: #AF2B1E
}

.custom-background-color {
    background-color: #AF2B1E
}

.triadic-background-color-1 {
    background-color: #a3af1e
}

.triadic-background-color-2 {
    background-color: #1eaf2a
}

/*
complementary: #1EA3AF
analogous: #af1e5a, #af731e
*/

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo-group {
    display: flex;
    align-items: center;
}

.logo-group img {
    width: 50px;
    height: 50px;
}

.nav-group ul {
    list-style: none;
    display: flex;
    gap: 48px;
}

.nav-group ul li {
    cursor: pointer;
    font-size: 24px;
}

.auth-group {
    display: flex;
    gap: 24px;
}

/* Header */
header {
    position: relative;
    display: flex;    
}

header {
    background-image: url('elephants-roger-brown.jpg');
    height: 64vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.calculate-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

